doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body  
    .container
      strong Bienvenido Twittero
      div.well
        .countSpanish
        .countEnglish
        ul.tweets(style="height: 600; overflow: scroll")
    block footer
      script(src='/socket.io/socket.io.js')
      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(type='text/javascript' src='/javascripts/functions.js')

 